{% extends 'dropoutdashboard/base.html' %}

{%block content %}

Curso de Letras 2000-2020

<div class="container">
  <div class="row">
    <div class="col-sm">
      12000 alunos
    </div>
    <div class="col-sm">
      3562 evadidos
    </div>
    <div class="col-sm">
      Idade média: 19,4 
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="data:image/png;base64,{{ fig }}" width="80%"> 
    </div>
    <div class="col-sm">
      <img src="data:image/png;base64,{{ fig2}}" width="80%">
    </div>
  </div>
</div>

Sobre o modelo<br>

Este modelo visa identificar os alunos que possuem risco de evasão no curso introdutório de Sistmas de Base da Dados na Constantine the Philosopher University em Nitra. O modelo de machine learning utilizado nesta análise é o modelo de <strong><a href="https://pt.wikipedia.org/wiki/Regressão_logística">Regressão Logística</a></strong>.<br>

Sobre o DataSet<br>

{{texto}} Do total de casos presentes, {{aprovados}} concluiram o curso, enquanto {{evasao}} evadiram o curso. 
Plotando um grafico de dispersão com a principais features do modelo e suas classes, temos o seguinte resultado: <br>
<img src="data:image/png;base64,{{ fig }}" alt="" height="400" ,width="400"> <br>
Como o número de casos de evasão era pouco representativo dentro do total, e é este o caso que queremos prever, foi feito um processo de data augmentation, que consiste na criação de dados sintéticos a partir dos dados reais que ja possuímos. Com este processo, passamos a ter 420 casos no total, saindo de 51 pontos de evasão, para 210. O gráfico de dispersão apresentado anteriormente, após o processo de data augmentation, ficou da seguinte maneira: <br>
<img src="data:image/png;base64,{{ fig2}}" alt="" height="400" ,width="400"><br>

Resultados<br>

O modelo desenvolvido apresentou uma <strong>acurácia de {{acuracia}}.</strong> A matriz de confusão com os resultados da predição podem ser vista abaixo: <br>
<img src="data:image/png;base64,{{ cnf_matrix}}" alt="" height="400" ,width="400"> <br>
A curva aoc pode ser visualizada a seguir:<br>
<img src="data:image/png;base64,{{ roc_auc}}" alt="" height="400" ,width="400"><br>


{% endblock %}