{% extends 'dropoutdashboard/base.html' %}

{%block content %}

Curso de Letras <!--{{min_year}}-{{max_year}}-->

<div class="container">
  <div class="row">
    <div class="col-sm">
      {{num_alunos}} alunos
    </div>
    <div class="col-sm">
      {{evadidos}} alunos evadidos
    </div>
    <div class="col-sm">
      Índice de evasão {{indice_evasao}} 
    </div>
    <div class="col-sm">
      Idade de ingresso média: {{idade_media}}
    </div>
  </div>
</div>

<img src="data:image/png;base64,{{fig2}}" alt="" height="200" ,width="200"> <br>

{{accuracy_log}} <br>
{{accuracy_dectree}} <br>
{{accuracy_rndforest}} <br>
{{accuracy_NB}} <br>
{{accuracy_SVM}} <br>
{{accuracy_NN}} <br>
oi

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="data:image/png;base64,{{fig1}}" alt="" width="120%">
    </div>
    <div class="col-sm">
      <img src="data:image/png;base64,{{fig3}}" alt="" width="120%">
      
    </div>
  </div>
</div>


{% endblock %}